services:
  postgres:
    image: postgres:18.1-alpine
    container_name: blog-postgres
    restart: unless-stopped
    env_file:
      - docker.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-blog}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-blog}
      POSTGRES_DB: ${POSTGRES_DB:-blog}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-blog}"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: blog-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    env_file:
      - docker.env
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESSKEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET:-minioadmin}
      MINIO_DEFAULT_BUCKETS: ${MINIO_BUCKET:-images}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"  # API port
      - "9001:9001"  # Console port
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  app:
    build: .
    container_name: blog-app
    restart: unless-stopped
    env_file:
      - docker.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-blog}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-blog}
      POSTGRES_HOST: ${POSTGRES_HOST:-blog}
      POSTGRES_PORT: ${POSTGRES_PORT:-blog}
      POSTGRES_DB: ${POSTGRES_DB:-blog}
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESSKEY: ${MINIO_ACCESSKEY:-minioadmin}
      MINIO_SECRET: ${MINIO_SECRET:-minioadmin}
      MINIO_SSL: ${MINIO_SSL:-FALSE}
      MINIO_BUCKET: ${MINIO_BUCKET:-images}
      ADDRESS: 0.0.0.0:8080
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - app-network
    expose:
      - "8080"

  nginx:
    image: nginx:alpine
    container_name: blog-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
      - minio
    networks:
      - app-network
    env_file:
      - docker.env

  migrate:
    image: migrate/migrate
    container_name: migrate_container
    command:
      [ "-path", "/migrations", "-database",  "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable", "up" ]
    volumes:
      - ./migrations:/migrations
    links:
      - postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    env_file:
      - docker.env

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  minio_data:
    driver: local